<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flybear.hziee.app.mapper.ChatMapper">
  <resultMap id="BaseResultMap" type="flybear.hziee.app.model.Chat">
    	<id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="chat_time" property="chatTime" jdbcType="INTEGER"/>
        <result column="spon_id" property="sponId" jdbcType="INTEGER"/>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select id,user_id,title,chat_time,spon_id from x_chat
  </select>
    
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,user_id,title,chat_time,spon_id from x_chat
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from x_chat
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="flybear.hziee.app.model.Chat">
    update x_chat set user_id = #{userId,jdbcType=INTEGER},title = #{title,jdbcType=VARCHAR},chat_time = #{chatTime,jdbcType=INTEGER},spon_id = #{sponId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="flybear.hziee.app.model.Chat">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into x_chat (id,user_id,title,chat_time,spon_id)  
    values ( #{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{title,jdbcType=VARCHAR},#{chatTime,jdbcType=INTEGER},#{sponId,jdbcType=INTEGER})
  </insert>  
</mapper>