<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flybear.hziee.app.mapper.LabelMapper">
  <resultMap id="BaseResultMap" type="flybear.hziee.app.model.Label">
    	<id column="id" property="id" jdbcType="INTEGER"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select id,label from x_label
  </select>
    
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,label from x_label
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from x_label
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="flybear.hziee.app.model.Label">
    update x_label set label = #{label,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="flybear.hziee.app.model.Label">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into x_label (id,label)  
    values ( #{id,jdbcType=INTEGER},#{label,jdbcType=VARCHAR})
  </insert>  
</mapper>