<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flybear.hziee.app.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="flybear.hziee.app.model.Staff">
    	<id column="id" property="id" jdbcType="INTEGER"/>
        <result column="staff_id" property="staffId" jdbcType="INTEGER"/>
        <result column="plate_id" property="plateId" jdbcType="INTEGER"/>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select id,staff_id,plate_id from x_staff
  </select>
    
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,staff_id,plate_id from x_staff
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from x_staff
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="flybear.hziee.app.model.Staff">
    update x_staff set staff_id = #{staffId,jdbcType=INTEGER},plate_id = #{plateId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="flybear.hziee.app.model.Staff">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into x_staff (id,staff_id,plate_id)  
    values ( #{id,jdbcType=INTEGER},#{staffId,jdbcType=INTEGER},#{plateId,jdbcType=INTEGER})
  </insert>  
</mapper>